<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    @model StudentNotifier.Models.Login
<head>
    <title>@ViewBag.Title="SignUp"</title>
</head>
<body>
    @using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>SignUp</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.username)
            @Html.TextBoxFor(model => model.username)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.FullName)
            @Html.TextBoxFor(model => model.FullName)
            @Html.ValidationMessageFor(model => model.FullName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.password)
            @Html.TextBoxFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div>
        <div class="editor-label">
            @Html.Label("Confirmed Password")
            @Html.TextBoxFor(model => model.password)
            @Html.ValidationMessageFor(model => model.password)
        </div >

        <div class="editor-label">
            @Html.LabelFor(model => model.type)
            @Html.RadioButtonFor(model => model.type , "Student")Student
            @Html.RadioButtonFor(model => model.type , "Teacher")Teacher
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

</body>
</html>
